// Colors
// --------------------------------------------------

$cfa-blue: rgba(38, 94, 109, 1);
$cfa-blue-l05: lighten($cfa-blue, 5%);
$cfa-blue-l10: lighten($cfa-blue, 10%);
$cfa-blue-d05: darken($cfa-blue, 5%);
$cfa-blue-d10: darken($cfa-blue, 10%);

$pale-green: rgba(179, 203, 185, 1);
$pale-green-l05: lighten($pale-green, 5%);
$pale-green-l10: lighten($pale-green, 10%);
$pale-green-d05: darken($pale-green, 5%);
$pale-green-d10: darken($pale-green, 10%);

$light-tope: rgba(241, 240, 234, 1);
$light-tope-l05: lighten($light-tope, 5%);
$light-tope-l10: lighten($light-tope, 10%);
$light-tope-d05: darken($light-tope, 5%);
$light-tope-d10: darken($light-tope, 10%);

$medium-tope: rgba(224, 221, 207, 1);
$medium-tope-l05: lighten($medium-tope, 5%);
$medium-tope-l10: lighten($medium-tope, 10%);
$medium-tope-l15: lighten($medium-tope, 15%);
$medium-tope-d05: darken($medium-tope, 5%);
$medium-tope-d10: darken($medium-tope, 10%);
$medium-tope-d15: darken($medium-tope, 15%);

$pale: rgba(255, 250, 251, 1);

$orange: rgba(255, 124, 0, 1);
$orange-l05: lighten($orange, 5%);
$orange-l10: lighten($orange, 10%);
$orange-d05: darken($orange, 5%);
$orange-d10: darken($orange, 10%);

@mixin cfa-scrollbar($width:2px, $height:0px, $track-color: $cfa-blue-l10, $thumb-color: $cfa-blue-d10) {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
  }
}

%abs-fill-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

$cfa-unit: 54px;
